################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/swad final assignment/FileContentIndex
/.vs/swad final assignment/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
